<div style="margin-top:70px;"></div>
<div class="navbar bg-primary">
    <div class="container justify-content-center" style="height: 50px;">
        <span class="fs-4 text-white">{{dataByID.name}}</span>
        <div class="d-flex flex-column ps-5">
            <span class="text-white border-end border-start ps-5 pe-5">{{dataByID.email}}</span>
            <span class="text-white border-end border-start ps-5 pe-5">{{dataByID.phone}}</span>
        </div>
        <div class="d-flex flex-column ps-5">
            <span class="text-white">Address</span>
            <span class="text-white">{{dataByID.address.city}}</span>
        </div>
    </div>
</div>


<div class="container" style="width: 80%;">
    <div class="row col-12 text-center">
        <h2 class="mt-4">{{dataByID.name}}'s Albums</h2>
        <hr>
    </div>


    <div class="d-flex flex-wrap justify-content-center">
        <div *ngFor="let album of albumsData" class="card text-center m-4 " style="width: 300px;">
            <div style=" height: 100px;" class="bg-secondary fs-5 pt-4"><a routerLink="albums/{{album.id}}/Photos"
                    class="text-dark text-decoration-none">Album ID :
                    {{album.id}}</a>

            </div>
            <div class="card-footer ">
                <span>50</span>
                <br />
                <span>Photos</span>
            </div>
        </div>
    </div>
</div>