<div style="margin-top:70px;"></div>


<div class="navbar bg-primary">
    <div class="container-fluid justify-content-around col-12" style="height: 50px;">
        <span class="fs-4 text-white">Users</span>
        <input type="button" class="btn btn-light text-primary" style="width:20%;" value="+ Add User"
            (click)="OpenPopUp()" />
    </div>
</div>

<table class="table table-hover align-middle m-auto bg-light fs-6" style="width: 90%;">

    <thead style="height: 60px;" class="text-center">
        <tr class="fs-5 border-bottom border-dark align-middle">
            <th class="border-start border-opacity-50">Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Edit</th>
            <th class="border-end  border-opacity-50">Delete</th>
        </tr>
    </thead>


    <tbody class="table-group-divider text-center ">
        <tr *ngFor="let user of Users" style="height:100px;" class="border-start border-secondary border-opacity-50 ">
            <th><a routerLink="users/{{user.id}}" class="text-decoration-none text-dark">{{user.name}}</a></th>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.address.city}}</td>
            <td><i class="fa-solid fa-pen-to-square fa-lg" style="color: #5cf033;cursor: pointer;"
                    (click)="editUser(user.id,user.name,user.email,user.phone,user.address.city)"></i></td>
            <td class=" border-end border-secondary border-opacity-50"><a><i class="fa-solid fa-trash fa-lg"
                        style="color: #f91706;cursor: pointer;" (click)="deleteUser(user.id,user.name)"></i></a>
            </td>
        </tr>
    </tbody>
</table>